<div class="content">

  <app-alerta-erro></app-alerta-erro>

  <div class="alert alert-danger" role="alert" *ngIf="erro">
    {{erro}}
  </div>

    <div class="card col-md-4">
        <div class="card-header">
            Login
          </div>
        <div class="card-body ">

            <form #form="ngForm" (ngSubmit)="realizarLogin()">

                <div class="form-group">
                  <label for="username">Login</label>
                  <input type="text" 
                         class="form-control" 
                         name="username" 
                         #user="ngModel" 
                         [(ngModel)]="username" 
                         id="username" 
                         placeholder="Seu login" 
                         required>
                
                  <div *ngIf="user.invalid && user.touched">
                    <p>Campo obrigatório</p>
                  </div>

                </div>

                <div class="form-group">
                  <label for="password">Senha</label>
                  <input type="password" 
                         class="form-control" 
                         name="password" 
                         #senha="ngModel" 
                         [(ngModel)]="password" 
                         id="password" 
                         placeholder="Sua senha" 
                         required>
                  
                  <div *ngIf="senha.invalid && senha.touched">
                    <p>Campo obrigatório</p>
                  </div>

                </div>
                
                <button type="submit" class="btn btn-default" >Login</button>

              </form>

        </div>
    </div>

</div>