<app-alerta-sucesso></app-alerta-sucesso>
<app-alerta-erro></app-alerta-erro>

<header>
    <h6>Treinamentos</h6>
    <button type="button" class="btn btn-default" style="display:none;" routerLink="/treinamento-form">Cadastrar Colaborador</button>
</header>

<div class="card card-filtro">

    <div class="card-header">
        <i class="fa fa-filter" aria-hidden="true"></i> Filtro
    </div>
    <div class="card-body">

        <form #form="ngForm" class="form-filtro" (ngSubmit)="filtroTreinamento()">

            <div class="form-row" style="display: flex; flex-wrap: wrap;">
                <div class="form-group col">
                    <label for="colaborador">Colaborador</label>
                    <input type="text" class="form-control" name="colaborador" id="colaborador" placeholder="Digite um nome" [(ngModel)]="filtroTreinamentoDto.nomeColaborador">
                </div>

                <div class="form-group col">
                    <label for="treinamento">Treinamento</label>
                    <input type="text" class="form-control" name="treinamento" id="treinamento" placeholder="Digite um treinamento" [(ngModel)]="filtroTreinamentoDto.nomeTreinamento">
                </div>
                <div class="form-group col-sm-3">
                    <label for="data_inicio">Data Inicio</label>
                    <input type="date" class="form-control" name="data_inicio" id="data_inicio" [(ngModel)]="filtroTreinamentoDto.dataInicioTreinamento">
                </div>
                <div class="form-group col-sm-3">
                    <label for="data_fim">Data Fim</label>
                    <input type="date" class="form-control" name="data_fim" id="data_fim" [(ngModel)]="filtroTreinamentoDto.dataFimTreinamento">
                </div>

            </div>

            <button type="submit" class="btn btn-default">Pesquisar</button>
        </form>

    </div>

</div>

<h6>Resultado</h6>

<div class="card">
    <div class="card-body" style="display: flex; justify-content: space-between; padding: 10px 10px;">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Treinamento</th>
                    <th class="coluna-table-tablet">Data Treinamento</th>
                    <th class="coluna-table-notebook">Vencimento</th>
                    <th class="coluna-table-notebook">Situação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let treinamento of treinamentos">
                    <td>{{treinamento.colaborador.nome}}</td>
                    <td>{{treinamento.nm_treinamento}}</td>
                    <td class="coluna-table-tablet">{{treinamento.data_treinamento | date : 'dd/MM/yyyy'}}</td>
                    <td class="coluna-table-notebook">{{treinamento.data_vencimento | date : 'dd/MM/yyyy'}}</td>
                    <td [ngSwitch]="treinamento.situacao">
                        <span *ngSwitchCase="'Válido'">
                            <i class="fa fa-check-circle text-success mr-1" aria-hidden="true"></i> {{treinamento.situacao}}
                        </span>
                        <span *ngSwitchCase="'À Vencer'">
                            <i class="fa fa-exclamation-triangle text-warning mr-1" aria-hidden="true"></i> {{treinamento.situacao}}
                        </span>
                        <span *ngSwitchCase="'Vencido'">
                            <i class="fa fa-times-circle text-danger mr-1" aria-hidden="true"></i> {{treinamento.situacao}}
                        </span>
                    </td>
                    <td>
                        <a role="button" (click)="buscaColaboradorPorId(treinamento.colaborador.id)" class="btn btn-default" style="background-color:#16a085;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>

                        <a role="button" (click)="buscaTreinamento(treinamento.id)" class="btn btn-warning btn-notebook"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a role="button" (click)="deletaTreinamento(treinamento.id)" class="btn btn-danger btn-notebook" ><i class="fa fa-trash" aria-hidden="true"></i></a>

                    </td>
                </tr>
            </tbody>

            <div *ngIf="treinamentos.length == 0" style="margin-top:15px; margin-bottom: 5px; ">
                <span>Nenhum resultado encontrado.</span>
            </div>

        </table>


    </div>
</div>

<ng-template #modalDadosDetalhados>

    <div class="modal-header" style="display: flex; justify-content: center; background-color: #16a085;">
        <h6 class="modal-title text-light" style="height: 20px;">Dados Detalhados</h6>
      </div>

      <div class="modal-body modalDetalhes" >

        <h6>Dados Pessoais</h6>

        <ul>
            <li>
                <span class="titulo">Nome:</span>
                <span>{{colaboradorDetalhes.nome}}</span>
            </li>

            <li>
                <span class="titulo">Nascimento:</span>
                <span>{{colaboradorDetalhes.data_nascimento}}</span>
            </li>

            <li>
                <span class="titulo">RG:</span>
                <span>{{colaboradorDetalhes.rg}}</span>
            </li>

            <li>
                <span class="titulo">CPF:</span>
                <span>{{colaboradorDetalhes.cpf}}</span>
            </li>
        </ul>

        <h6>Dados Empresariais</h6>

        <ul>
            <li>
                <span class="titulo">Função:</span>
                <span>{{colaboradorDetalhes.dadosEmpresa.funcao}}</span>
            </li>

            <li>
                <span class="titulo">Lotação:</span>
                <span>{{colaboradorDetalhes.dadosEmpresa.lotacao}}</span>
            </li>

            <li>
                <span class="titulo">Departamento:</span>
                <span>{{colaboradorDetalhes.dadosEmpresa.departamento}}</span>
            </li>

            <li>
                <span class="titulo">Data de Admissão:</span>
                <span>{{colaboradorDetalhes.dadosEmpresa.data_admissao}}</span>
            </li>

            <li>
                <span class="titulo">Situação:</span>
                <span>{{colaboradorDetalhes.dadosEmpresa.situacao}}</span>
            </li>
        </ul>

        <button type="button" class="btn btn-default" style="font-size: 15px; padding: 5px;" (click)="FecharModal()">Fechar</button>
      </div>

  </ng-template>