*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
 }


.menu{
    padding-bottom: 15px;

}

.menu .item i{
    margin-left: 15px;
    margin-right: 10px;
}

.menu .item{
    line-height: 2.5;
}

.menu .item label{
    cursor: pointer;
}

.menu .item .sub-menu{
    background-color: #16a085;
    max-height: 0;
    transition: all 0.8s;
    overflow: hidden;
    line-height: 2;
}

.menu .item input:checked ~ .sub-menu{
    max-height: 5em;
    transition: all 0.8s;
}

.menu .item .sub-menu a{
    display: block;
    color: #fff;
    margin-left: 20px;
}

.menu .item input{
    display: none;
}




 @media only screen and (max-width: 575px) {

    .menu .fa-times{
        margin-top: -999%; 
        margin-left: -999%; 
        font-size: 20px; 
        background-color: #fff; 
        padding: 8px;
        transition: all 2s;
        position: absolute;

    }

    .menu .fa-times.show{
        margin-top: 10px; 
        margin-left: 105%;
        transition: all 1s;
        position: absolute;
        opacity: 99%;
    }

 }

 @media only screen and (min-width: 576px) {

    .menu .fa-times{
        margin-top: -999%; 
        margin-left: -999%; 
        font-size: 20px; 
        background-color: #fff; 
        padding: 8px;
        transition: all 2s;
        position: absolute;

    }

    .menu .fa-times.show{
        margin-top: 10px; 
        margin-left: 105%;
        transition: all 1s;
        position: absolute;
        opacity: 99%;
    }

 }

 @media only screen and (min-width: 769px) {
     
 }