<div class="menu">
    
    <i class="fa fa-times" aria-hidden="true"></i>
    <div class="item item-dashboard" style="background-color: #f1f1f1;">
        <a routerLink="/dashboard" class="btn"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
    </div>

  
    <div class="item" id="item-colaborador">
        <i class="fa fa-users" aria-hidden="true"></i><label for="check-colaborador">Colaborador</label>
        <input type="checkbox" id="check-colaborador"/>
        <div class="sub-menu">
            <a routerLink="/colaborador-form">Cadastrar</a>
            <a routerLink="/colaborador-list">Consultar</a>
        </div>
    </div>

    <div class="item" id="item-aso">
        <i class="fa fa-user-md"></i><label for="check-aso">ASO</label>
        <input type="checkbox" id="check-aso"/>
        <div class="sub-menu">
            <a routerLink="/aso-form">Cadastrar</a>
            <a routerLink="/aso-list">Consultar</a>
        </div>
    </div>

    <div class="item" id="item-treinamento">
        <i class="fa fa-graduation-cap"></i><label for="check-treinamento">Treinamento</label>
        <input type="checkbox" id="check-treinamento"/>
        <div class="sub-menu">
            <a routerLink="/treinamento-form">Cadastrar</a>
            <a routerLink="/treinamento-list">Consultar</a>
        </div>
    </div>

    <div class="item" id="item-extintor">
        <i class="fa fa-fire-extinguisher"></i><label for="check-extintor">Extintor</label>
        <input type="checkbox" id="check-extintor"/>
        <div class="sub-menu">
            <a href="#">Cadastrar</a>
            <a href="#">Consultar</a>
        </div>
    </div>

    <div class="item" id="item-checklist">
        <i class="fa fa-th-list"></i><label for="check-checklist">Checklist</label>
        <input type="checkbox" id="check-checklist"/>
        <div class="sub-menu">
            <a href="#">Cadastrar</a>
            <a href="#">Consultar</a>
        </div>
    </div>

    <div class="item" id="item-logout" style="background-color: #f1f1f1;">
        <a (click)="encerrarSessao()" class="btn"><i class="fa fa-user-md"></i>Logout</a>
    </div>

</div>
